:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9001;
}

.slds-modal__content {
    overflow: visible;
}

.config-item {
    padding: 0.75rem 0;
}

.config-item:first-child {
    padding-top: 0;
}

.add-form {
    border-radius: 0.25rem;
}

.slds-notify_alert {
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
}

.slds-alert_info {
    background-color: #e8f4fd;
    border: 1px solid #1b96ff;
}
